@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: (247, 247, 247);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 65%;
    margin: 0 auto;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
    font-family: Inter
}

.item-price {
    font-size: 14px;
    color: #555;
    font-family: Inter
}

.item-quantity {
    font-size: 14px;
    color: #555;
    font-family: Inter
}

.total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    font-family: Inter
}

.checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-family: Inter
}

.checkout-button:hover {
    background-color: #0056b3;
}