
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.pricing_budget {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #FAFAFA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Inter;
}
.p{
  font-family: Inter;
}
h1 {
  font-family: Roboto;
}
.cardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricingTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: Inter;

}

.pricingSelect select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  color: #333;

}

.budgetTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;

}

.budgetVal {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  color: #333;
  margin-top: 8px;
  font-family: Inter;

}

/* Dietary Restrictions section styling */
.shopLink {
  font-family: Inter;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.shopLink header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Checkbox styling */
.shopLink input[type="checkbox"] {
  margin-right: 8px;
}

/* Bottom section styling */
.bottom {
  text-align: center;
  margin-top: 85px;
  transform: scale(1.4);
}

.bottom:hover{
  cursor:pointer;
  transform: scale(1.6);
  transition: transform 330ms ease-in-out;
}

.linked {
  display: inline-block;
  padding: 12px 24px;
  background-color: #1E4182;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 18px;
  transition: background-color 0.2s;
}

.linked:hover {
  background-color: #1E4182;
}

.shopLink input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.5); /* Increase checkbox size */
}

.shopLink label {
  font-size: 18px; /* Increase label font size */
  color: #555; /* Adjust label color */
  margin-right: 10px;
}

.box {
  background-color: #FAFAFA;
}