.item {
    margin-top: 2px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemName {
    text-align: left;
}

.itemPrice {
    margin: auto;
}

.itemQuantity {
    text-align: right;
}