@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.item {
    margin-top: 2px;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    align-items: center;
    padding: 5px;

    font-family: Inter;
}

.itemName {
    text-align: left;
    font-family: Roboto;
}

.itemPrice {
  text-align: center;
    font-family: Inter;
}

.itemQuantity {
  text-align: right;
  font-family: Inter;
}

