@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.item {
    margin-top: 2px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Inter;
}

.itemName {
    text-align: left;
    font-family: Roboto;
}

.itemPrice {
    margin: auto;
    font-family: Inter;
}

.itemQuantity {
    text-align: right;
    font-family: Inter;
}