@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background: url("../assets/bg.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: Inter;
}
.shop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

/* Title styling */
.shopList {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Roboto;
}

/* Individual shop items */
.shopItem {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 800px;
  text-align: center;
  font-weight: 700;
  font-family: Roboto;
  cursor: pointer;
}

/* Link styling */
.shopItem a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-family: Inter;
}

/* Link hover effect */
.shopItem a:hover {
  color: #007bff; /* Blue color on hover */
}

.shopItem:hover {
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
}

.subtitle{
  font-size: 15px;
  font-weight: 400;
}